In [2]:
import numpy as np 
import pandas as pd

In [3]:
df = pd.read_csv('course-catalog.csv')

In [4]:
df.drop(columns=['Year', 'Term', 'YearTerm','Credit Hours', 'Section Info', 'Degree Attributes', 'Schedule Information', 'CRN', 'Section', 'Status Code', 'Part of Term', 'Section Title', 'Section Credit Hours', 'Section Status', 'Enrollment Status', 'Type', 'Type Code', 'Start Time', 'End Time', 'Days of Week', 'Room', 'Building', 'Instructors'], axis=1, inplace=True)
#Good

In [5]:
df=df.drop_duplicates()

In [6]:
df.head(10)
#df.loc[(df['Subject']=='PS') & (df['Number']==201)]

,Subject,Number,Name,Description
0,AAS,100,Intro Asian American Studies,Interdisciplinary introduction to the basic co...
12,AAS,200,U.S. Race and Empire,Invites students to examine histories and narr...
13,AAS,201,US Racial &amp; Ethnic Politics,"Same as AFRO 201, LLS 201, and PS 201. See PS ..."
15,AAS,211,Asian Americans and the Arts,Examination of Asian American artistic express...
16,AAS,215,US Citizenship Comparatively,"Examines the racial, gendered, and sexualized ..."
17,AAS,275,The Politics of Fashion,Same as GWS 275. See GWS 275.
18,AAS,281,Constructing Race in America,"Same as AFRO 281, HIST 281, and LLS 281. See H..."
19,AAS,283,Asian American History,Same as HIST 283. See HIST 283.
20,AAS,286,Asian American Literature,Same as ENGL 286. See ENGL 286.
21,AAS,287,Food and Asian Americans,Introduction to the interdisciplinary study of...

In [7]:
##if it starts with 'Same as' then remove the tuple
df = df[~df['Description'].fillna('').str.startswith('Same as')]

df.head()

,Subject,Number,Name,Description
0,AAS,100,Intro Asian American Studies,Interdisciplinary introduction to the basic co...
12,AAS,200,U.S. Race and Empire,Invites students to examine histories and narr...
15,AAS,211,Asian Americans and the Arts,Examination of Asian American artistic express...
16,AAS,215,US Citizenship Comparatively,"Examines the racial, gendered, and sexualized ..."
21,AAS,287,Food and Asian Americans,Introduction to the interdisciplinary study of...

In [8]:
'''
Keeping: 
Doctoral Research Seminar

Removing:
Off-Campus Internship
On-Campus Internship
Undergraduate Open Seminar
Thesis Research
Special Research Problems
Senior Research
Independent Study
Special Topics
Undergrad Research or Thesis
Undergraduate Open Seminar in Computer Science
Individual Study
Seminar
Senior Project II, ACP
Senior Project II
Advanced Seminar
Honors Research or Thesis
Honors Study Abroad Retrospect
Seminar Themes and Movements
'''

'\nKeeping: \nDoctoral Research Seminar\n\nRemoving:\nOff-Campus Internship\nOn-Campus Internship\nUndergraduate Open Seminar\nThesis Research\nSpecial Research Problems\nSenior Research\nIndependent Study\nSpecial Topics\nUndergrad Research or Thesis\nUndergraduate Open Seminar in Computer Science\nIndividual Study\nSeminar\nSenior Project II, ACP\nSenior Project II\nAdvanced Seminar\nHonors Research or Thesis\nHonors Study Abroad Retrospect\nSeminar Themes and Movements\n'

In [9]:
df.drop(df[df['Name'] == 'Off-Campus Internship'].index, inplace=True)
df.drop(df[df['Name'] == 'On-Campus Internship'].index, inplace=True)
df.drop(df[df['Name'] == 'Undergraduate Open Seminar'].index, inplace=True)
df.drop(df[df['Name'] == 'Thesis Research'].index, inplace=True)
df.drop(df[df['Name'] == 'Special Research Problems'].index, inplace=True)
df.drop(df[df['Name'] == 'Senior Research'].index, inplace=True)
df.drop(df[df['Name'] == 'Independent Study'].index, inplace=True)
df.drop(df[df['Name'] == 'Special Topics'].index, inplace=True)
df.drop(df[df['Name'] == 'Undergrad Research or Thesis'].index, inplace=True)
df.drop(df[df['Name'] == 'Undergraduate Open Seminar in Computer Science'].index, inplace=True)
df.drop(df[df['Name'] == 'Individual Study'].index, inplace=True)
df.drop(df[df['Name'] == 'Seminar'].index, inplace=True)
df.drop(df[df['Name'] == 'Senior Project II, ACP'].index, inplace=True)
df.drop(df[df['Name'] == 'Senior Project II'].index, inplace=True)
df.drop(df[df['Name'] == 'Advanced Seminar'].index, inplace=True)
df.drop(df[df['Name'] == 'Honors Research or Thesis'].index, inplace=True)
df.drop(df[df['Name'] == 'Honors Study Abroad Retrospect'].index, inplace=True)
df.drop(df[df['Name'] == 'Seminar Themes and Movements'].index, inplace=True)

#When clustering the remaining thesis classes should be far enough away that they should not show up

In [10]:
#Delete classes that have matching descriptions

df = df.drop_duplicates(subset=['Description'])

In [11]:
print(f'Total number of classes searchable: {df.shape[0]}')

Total number of classes searchable: 3690

In [12]:
df=df.reset_index()

df.to_csv('updated-course-catalog.csv')