In [23]:
import pandas as pd

In [24]:
df = pd.read_csv('updated-course-catalog.csv')
df.head()

,Unnamed: 0,index,Subject,Number,Name,Description
0,0,0,AAS,100,Intro Asian American Studies,Interdisciplinary introduction to the basic co...
1,1,12,AAS,200,U.S. Race and Empire,Invites students to examine histories and narr...
2,2,15,AAS,211,Asian Americans and the Arts,Examination of Asian American artistic express...
3,3,16,AAS,215,US Citizenship Comparatively,"Examines the racial, gendered, and sexualized ..."
4,4,21,AAS,287,Food and Asian Americans,Introduction to the interdisciplinary study of...

In [25]:
df.drop(columns=['Unnamed: 0', 'index', 'Name'], inplace=True)

In [31]:
df['Name'] = df['Subject'] + ' ' + df['Number'].astype(str)

In [33]:
df.drop(columns=['Subject', 'Number'], inplace=True)

In [ ]:
df.to_csv('coursesJSON.csv')